/ {
	auxdisplay_0: auxdisplay {
		compatible = "hit,hd44780";
		columns = <20>;
		rows = <4>;
		mode = <4>;
		register-select-gpios = <&lcd_i2c_gpio 0 (GPIO_ACTIVE_HIGH)>;
		read-write-gpios = <&lcd_i2c_gpio 1 (GPIO_ACTIVE_HIGH)>;
		enable-gpios = <&lcd_i2c_gpio 2 (GPIO_ACTIVE_HIGH)>;
		backlight-gpios = <&lcd_i2c_gpio 3 (GPIO_ACTIVE_HIGH)>;
		data-bus-gpios = <0>, <0>, <0>, <0>,
				<&lcd_i2c_gpio 4 (GPIO_ACTIVE_HIGH)>,
				<&lcd_i2c_gpio 5 (GPIO_ACTIVE_HIGH)>,
				<&lcd_i2c_gpio 6 (GPIO_ACTIVE_HIGH)>,
				<&lcd_i2c_gpio 7 (GPIO_ACTIVE_HIGH)>;
		boot-delay-ms = <100>;

		status = "okay";
	};
};

&i2c1 {
	status = "okay";

	lcd_i2c_gpio: pcf8574@27 {
		compatible = "nxp,pcf857x";
		reg = <0x27>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
		status = "okay";
	};
};

